html {

    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 10rem;
    min-height: 100vh;
    align-self: center;
}



.clock {
    display: flex;
    flex: 1;
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 30px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0px 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2)
}


.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY((-3px));
}

.hand {
    width: 50%;
    height: 6px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    border-radius: 10px;
}

.second-hand {
    background-color: red;
}
.hour-hand{
    width: 35%;
    left: 45px;
}

.center-point {
    height: 15px;
    width: 15px;
    background-color: black;
    position: relative;
    top: 144px;
    right: -142px;
    border-radius: 10px;
    border: 2px solid white;
}

.date {
    box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
    padding: 0;
    width: 50%;
    margin: 0 auto;
    font-size: 40px;
    border: 1px solid white;
}


#show {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

#showTime {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

#showdate {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}